@import url(../reset.css);

.movieWrapper {
  width: 300px;
  height: 500px;
  display: flex;
  color: white;
}

.movieWrapper a {
  text-decoration: none;
  color: white;
}

.movieWrapper:hover .texts {
  visibility: visible;
  height: 500px;
  transition: all 0.5s ease;
}

.imgs {
  width: 300px;
  height: 500px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.texts {
  visibility: hidden;
  position: absolute;
  width: 300px;
  height: 0px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  overflow-y: scroll;
}

.titleBox {
  border-bottom: 1px solid white;
  padding: 5px;
}

.titleBox h2 {
  font-size: 25px;
  font-weight: 700;
}

.summaryBox {
  margin: 30px 0px;
  padding: 5px;
}

.summaryBox h3,
.genreBox h3 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}

.summaryBox p {
  font-size: 16px;
  font-weight: 100;
}

.genreBox {
  padding: 5px;
}

.genreBox ul {
  font-size: 16px;
  font-weight: 100;
  line-height: 25px;
}
