.navContainer {
  position: sticky;
  top: 0;
  width: 100%;
  height: 80px;
  padding: 10px 100px;
  background: linear-gradient(
    rgba(2, 2, 2, 1) 0%,
    rgba(3, 3, 3, 1) 10%,
    rgba(3, 3, 3, 1) 20%,
    rgba(4, 4, 4, 1) 30%,
    rgba(8, 8, 8, 1) 40%,
    rgba(11, 11, 11, 1) 50%,
    rgba(16, 16, 16, 1) 70%,
    rgba(20, 20, 20, 1) 100%
  );
  z-index: 10;
}

.navHome {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 25px;
  color: #d1d1d1;
}

.navHome a {
  text-decoration: none;
  color: #d1d1d1;
}

.drop {
  width: 60px;
  height: 60px;
  box-shadow: inset 10px 10px 10px rgba(255, 255, 255, 0.05),
    2px 2px 3px rgba(255, 255, 255, 0.05), 2px 2px 5px rgba(255, 255, 255, 0.05),
    inset -10px -10px 15px rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drop:hover {
  color: #d6c992;
  transition: all 2s ease-out;
}
